.sorting-card-progress-bar-info {
  position: relative;
  font-size: 1rem;
  color: #ccc;
  display: block;
}

.sorting-card-item-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.sorting-card-image {
  width: auto;
  height: auto;
  max-width: 300px;
  min-width: 150px;
  min-height: 150px;
  border-radius: 15px;
}
.sorting-card-item-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding: 5px;
}
.sorting-card-item-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}
.sorting-card-item-desc {
  font-size: 1rem;
  color: #333;
}
.sorting-bin-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
  min-height: 400px;
  padding: 5px;
  margin: 5px;
}
.sorting-each-bin {
  width: 200px;
  height: auto;
  min-height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 15px;
}

.sorting-bin-outter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.sorting-bin-outter span {
  font-size: 1.2rem;
  font-weight: bold;
}

.sorting-progress-info {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  font-weight: normal;
  color: #555;
}

.flex-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.small-card-image {
  width: 32px;
  height: 32px;
}