.formside-form {
    width: 100%;
    height: 100%;
}

.formside-card-count {
    width: 50%;
}

.form-upload-div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
