.preview-editor-container {
    width: 100%;
    min-width: 400px;
    height: 100%;
    padding: 10px;
}
.preview-editor-images {
    margin-top: 20px;
    width: 50%;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.preview-editor-card {
    width: 100%;
    /* max-height: 240px; */
    margin-right: 2px;
    
}

.preview-editor-category {
   


    display: flex;
    flex-wrap: wrap;
  
}

