.surveyPage {
  width: 100%;
  height: 100%;
  padding: 5px;
  margin-bottom: 2rem;
}

.page-footer {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  height: 2rem;
  padding: 0;
}