.rank-panel {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0 10px;
  padding-bottom: 2rem;
}

.rank-bin-panel {
  display: flex;
  flex: 3;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0 10px;
}

.rank-list-panel {
  display: flex;
  flex: 2;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0 10px;
}

.ranking-item {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.ranking-card-item {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.ranking-card-item-title {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0;
  padding: 0;
  margin-left: 0.5rem;
}